*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}
body::before{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1b1b32;
    background-image: linear-gradient(
    115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px){
    .container{
        min-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
    max-width: 720px;
    }
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.text-center{
    text-align: center;
}

h1, p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1{
    font-weight: 400;
    line-height: 1.2;
}

p{
    font-size: 1.125rem;
}

.description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 40%);
}

form{
    background-color: rgba(27, 27, 50, 0.8);
    border-radius: 0.25rem;
    padding: 40px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group > *{
    display: block;
    margin-top: 5px;
    width: 100%;
}

.clue{
    font-size: 0.9rem;
    margin-left: 2px;
    line-height: 1.5rem;
}

.form-control{
    height: 2.375rem;
    font-family: inherit;
    padding: 0.375rem 0.7rem;
}

.input-checkbox, .input-radio, .input-textarea, .submit-button{
    border-radius: 5px;
}

.input-textarea{
    min-height: 120px;
}

.submit-button{
    padding: 0.75rem;
    background-color: #37af65;
    border: none;
    color: inherit;
    border-radius: 2px;
}

.submit-button:hover{
    background-color: #008c36;
    color: rgb(214, 214, 214)
}
.input[type="checkbox"], .input[type="radio"]{
    margin-right: 5px;
}
